"<!DOCTYPE html>
<html>

<head>
    <title>Line</title>
    <meta charset=""UTF-8"">
    <meta name=""robots"" content=""noindex"">
</head>

<body>
    <script> window.location.href =  redirectWeb.redirectWeb </script>
</body>

</html>"		
		
		
		
		
		
		
		
		
		
		
		
		
		